@using Saritasa.NetForge.Blazor.Extensions
@inherits CustomField

<MudGrid>
    <MudItem xs="4">
        <MudFileUpload T="IBrowserFile" Accept=".apng, .avif, .svg, .png, .jpg, .webp" FilesChanged="UploadImageAsync">
            <ButtonTemplate>
                <MudStack>
                    <MudButton HtmlTag="label"
                               Variant="Variant.Filled"
                               Color="Color.Primary"
                               StartIcon="@Icons.Material.Filled.CloudUpload"
                               for="@context.Id">
                        Upload @Property.Name.ToMeaningfulName()
                    </MudButton>

                    <MudText class="mud-input-helper-text">@Property.Description</MudText>
                </MudStack>
            </ButtonTemplate>
        </MudFileUpload>
    </MudItem>

    @if (PropertyValue is not null)
    {
        <MudItem xs="8">
            <MudBadge OnClick="@RemoveImage"
                      Icon="@Icons.Material.Filled.Close"
                      Overlap="true">
                <div>
                    <MudImage Src="@PropertyValue"
                              Elevation="25"
                              Class="rounded-lg property-image" />
                </div>
            </MudBadge>
        </MudItem>
    }
</MudGrid>

@if (error is not null)
{
    <MudAlert Variant="Variant.Outlined" Severity="Severity.Error">@error</MudAlert>
}
