@using Saritasa.NetForge.Blazor.Extensions
@inherits CustomField

<MudGrid>
    <MudItem xs="4">
        <MudFileUpload T="IBrowserFile" FilesChanged="UploadFileAsync">
            <ButtonTemplate>
                <MudStack>
                    <MudButton HtmlTag="label"
                               Variant="Variant.Filled"
                               Color="Color.Primary"
                               StartIcon="@Icons.Material.Filled.CloudUpload"
                               for="@context.Id">
                        Upload @Property.Name.ToMeaningfulName()
                    </MudButton>

                    <MudText class="mud-input-helper-text">@Property.Description</MudText>
                </MudStack>
            </ButtonTemplate>
        </MudFileUpload>
    </MudItem>

    @{
        if (PropertyValue is not null)
        {
            <MudItem xs="3">
                <div>
                    <MudImage Src="@PropertyValue"
                              Elevation="25"
                              Class="rounded-lg property-image"/>
                </div>
            </MudItem>

            <MudItem xs="5">
                <MudButton Variant="Variant.Filled"
                           Color="Color.Error"
                           OnClick="RemoveImage">
                    Remove @Property.Name.ToMeaningfulName()
                </MudButton>
            </MudItem>
        }
    }
</MudGrid>
