@using Saritasa.NetForge.Blazor.Controls
@using Saritasa.NetForge.Domain.Entities.Options
@using Saritasa.NetForge.Mvvm.Navigation

@inject AdminOptions AdminOptions
@inject INavigationService NavigationService;
@inherits MvvmComponentBase<Saritasa.NetForge.Mvvm.ViewModels.CreateEntity.CreateEntityViewModel>

@if (ViewModel.IsEntityExists)
{
    <MudBreadcrumbs Items="breadcrumbItems"></MudBreadcrumbs>

    var title = $"Create {ViewModel.Model.DisplayName}";
    <PageTitle>@title</PageTitle>
    <MudText Class="pb-4" Typo="Typo.h4">@title</MudText>

    <EditForm Model="ViewModel.EntityModel" OnValidSubmit="ViewModel.CreateEntityAsync">
        <div class="d-flex flex-column flex-grow-1 gap-4">
            @{
                var properties = ViewModel.Model.Properties
                .Where(property => property is { IsNavigation: false, IsCalculatedProperty: false });

                foreach (var property in properties)
                {
                    var propertyType = ViewModel.Model.ClrType?.GetProperty(property.Name)?.PropertyType;

                    <CustomField PropertyName="@property.Name"
                                 PropertyType="@propertyType"
                                 EntityModel="@ViewModel.EntityModel">
                    </CustomField>
                }
            }

            <div class="d-flex flex-row gap-4 pt-4">
                <MudButton Variant="Variant.Outlined" Color="Color.Success" ButtonType="ButtonType.Submit">
                    Save
                </MudButton>
                <MudButton Variant="Variant.Outlined" OnClick="NavigateToEntityDetails">
                    Cancel
                </MudButton>
            </div>
        </div>
    </EditForm>
}
else
{
    <NotFound />
}
