@using Saritasa.NetForge.Domain.Enums
@using Saritasa.NetForge.Domain.Extensions
@using Saritasa.NetForge.Domain.UseCases.Constants
@using Saritasa.NetForge.Domain.UseCases.Metadata.GetEntityById
@using Saritasa.NetForge.Extensions

@if (CanDelete)
{
    <SelectColumn T="object" ShowInFooter="false"/>
}

@{
    var listViewProperties = GetListViewProperties();
    foreach (var listViewProperty in listViewProperties)
    {
        RenderPropertyColumn(listViewProperty);
    }

    void RenderPropertyColumn(PropertyMetadataDto property)
    {
        var navigation = property.NavigationMetadata;
        var propertyPath = property.PropertyPath;
        <TemplateColumn T="object" Title="@property.Name" Sortable="property.IsSortable"
                        PropertyPath="@propertyPath">
            <HeaderTemplate>
                @{
                    var displayName = GetPropertyDisplayName(property);
                    if (AdminOptions.TitleCaseProperties)
                    {
                        displayName = displayName.ToMeaningfulName();
                    }

                    <div class="entity-details-grid__header-cell">
                        @if (string.IsNullOrEmpty(property.Description))
                        {
                            @displayName
                        }
                        else
                        {
                            <MudTooltip Arrow="true" Placement="@Placement.Top">
                                <ChildContent>
                                    @displayName
                                </ChildContent>
                                <TooltipContent>
                                    <MudText Typo="@Typo.body2">@property.Description</MudText>
                                </TooltipContent>
                            </MudTooltip>
                        }

                        @if (property.SearchType != SearchType.None)
                        {
                            <div class="entity-details-grid__small-icon">
                                <MudTooltip Text="@property.SearchType.ToString().ToMeaningfulName()"
                                            Arrow="true"
                                            Placement="Placement.Bottom">
                                    <MudIcon Icon="@Icons.Material.Filled.Search" Size="Size.Small"/>
                                </MudTooltip>
                            </div>
                        }
                    </div>}
            </HeaderTemplate>

            <CellTemplate Context="cell">
                @{
                    var instance = cell.Item;

                    // Property may be part of a complex object hierarchy.
                    // This allows us to display or manipulate the value of deeply nested properties within the object.
                    var propertyValue = instance.GetNestedPropertyValue(propertyPath);

                    if (propertyValue is null || propertyValue.ToString() == string.Empty)
                    {
                        var emptyValue = !string.IsNullOrEmpty(property.EmptyValueDisplay)
                            ? property.EmptyValueDisplay
                            : DefaultValueConstants.DefaultEmptyPropertyValueDisplay;
                        @emptyValue
                        return;
                    }

                    if (property is NavigationMetadataDto navigationMetadata)
                    {
                        var navigationValue = GetNavigationValue(propertyValue, navigationMetadata);

                        if (navigationMetadata.IsCollection)
                        {
                            <MudButton Variant="Variant.Text" Color="Color.Primary" Class="text-transform-none"
                                       @onclick="() => OpenDialogAsync(propertyValue, navigationMetadata)">
                                @navigationValue
                            </MudButton>
                        }
                        else
                        {
                            @navigationValue
                        }

                        return;
                    }

                    if (property.IsImage)
                    {
                        <div>
                            <MudImage Src="@property.UploadFileStrategy!.GetFileSource(propertyValue.ToString()!)"
                                      Elevation="25"
                                      Class="rounded-lg property-image"/>
                        </div>
                        return;
                    }

                    var formattedValue = FormatValue(propertyValue, property);

                    if (property.DisplayAsHtml)
                    {
                        @((MarkupString)formattedValue)
                        return;
                    }

                    if (property.ClrType == typeof(string))
                    {
                        var maxCharacters = property.TruncationMaxCharacters ?? AdminOptions.TruncationMaxCharacters;

                        if (maxCharacters != default)
                        {
                            formattedValue = formattedValue!.Truncate(maxCharacters);
                        }
                    }

                    // For the properties that are referenced from navigations.
                    if (navigation is not null)
                    {
                        // We have to store the link to the navigation property is referenced from, in order to
                        // navigate to the details page of the referenced entity or open the dialog.
                        if (property.CanBeNavigatedToDetails)
                        {
                            var navigationValue = GetParentNavigationValue(propertyPath, instance);

                            <MudButton Variant="Variant.Text" Color="Color.Primary" Class="text-transform-none"
                                       OnClick="() => NavigateToEditing(navigationValue, navigation)">
                                @formattedValue
                            </MudButton>
                            return;
                        }

                        if (property.CanDisplayDetails)
                        {
                            var navigationValue = GetParentNavigationValue(propertyPath, instance);

                            <MudButton Variant="Variant.Text" Color="Color.Primary" Class="text-transform-none"
                                       @onclick="() => OpenDialogAsync(navigationValue, navigation)">
                                @formattedValue
                            </MudButton>
                            return;
                        }
                    }

                    @formattedValue
                }
            </CellTemplate>
        </TemplateColumn>
    }
}

@if (CanDelete)
{
    <TemplateColumn T="object">
        <CellTemplate>
            <MudButton Size="@Size.Small" Variant="Variant.Text" Color="Color.Secondary"
                       OnClick="@(() => ShowDeleteEntityConfirmationAsync(context.Item))">
                Delete
            </MudButton>
        </CellTemplate>
    </TemplateColumn>
}
