@using Saritasa.NetForge.Domain.Enums
@using Saritasa.NetForge.Domain.Extensions
@using Saritasa.NetForge.Domain.UseCases.Constants
@using Saritasa.NetForge.Domain.UseCases.Metadata.GetEntityById
@using Saritasa.NetForge.Extensions

@if (CanDelete)
{
    <SelectColumn T="object" ShowInFooter="false" />
}

@{
    List<(PropertyMetadataDto Property, string PropertyPath)> propertyPaths = [];
    foreach (var property in Properties.Where(property => property is { IsHidden: false, IsHiddenFromListView: false }))
    {
        if (property is NavigationMetadataDto navigation)
        {
            var propertyPath = navigation.Name;

            HandleNavigation(navigation);

            void HandleNavigation(NavigationMetadataDto navigation)
            {
                if (navigation.IsCollection)
                {
                    propertyPaths.Add((navigation, propertyPath));
                    return;
                }

                var targetProperties = navigation.TargetEntityProperties
                    .Where(targetProperty => targetProperty is { IsHidden: false, IsHiddenFromListView: false });
                foreach (var targetProperty in targetProperties)
                {
                    propertyPaths.Add((targetProperty, $"{propertyPath}.{targetProperty.Name}"));
                }

                var targetNavigations = navigation.TargetEntityNavigations
                    .Where(targetNavigation => targetNavigation is { IsHidden: false, IsHiddenFromListView: false });
                foreach (var targetNavigation in targetNavigations)
                {
                    propertyPath += $".{targetNavigation.Name}";
                    HandleNavigation(targetNavigation);
                    propertyPath = propertyPath.Replace($".{targetNavigation.Name}", string.Empty);
                }
            }
        }
        else
        {
            propertyPaths.Add((property, property.Name));
        }
    }

    // Display principal entity primary key at the start of columns if the order is not set.
    var orderedProperties = propertyPaths
        .OrderByDescending(property => property is { Property: { IsPrimaryKey: true, Order: null } }
                                       && !property.PropertyPath.Contains(".")) // Means property is not part of a navigation
        .ThenByDescending(property => property.Property.Order.HasValue)
        .ThenBy(property => property.Property.Order);
    foreach (var (property, propertyPath) in orderedProperties)
    {
        RenderPropertyColumn(property, propertyPath, navigation: null);
    }

    void RenderPropertyColumn(PropertyMetadataDto property, string propertyPath, NavigationMetadataDto? navigation = null)
    {
        <TemplateColumn T="object" Title="@property.Name" Sortable="property.IsSortable"
                        NavigationName="@navigation?.Name">
            <HeaderTemplate>
                @{
                    var displayName = GetPropertyDisplayName(property);
                    if (AdminOptions.TitleCaseProperties)
                    {
                        displayName = displayName.ToMeaningfulName();
                    }

                    <div class="entity-details-grid__header-cell">
                        @if (string.IsNullOrEmpty(property.Description))
                        {
                            @displayName
                        }
                        else
                        {
                            <MudTooltip Arrow="true" Placement="@Placement.Top">
                                <ChildContent>
                                    @displayName
                                </ChildContent>
                                <TooltipContent>
                                    <MudText Typo="@Typo.body2">@property.Description</MudText>
                                </TooltipContent>
                            </MudTooltip>
                        }

                        @if (property.SearchType != SearchType.None)
                        {
                            <div class="entity-details-grid__small-icon">
                                <MudTooltip Text="@property.SearchType.ToString().ToMeaningfulName()"
                                            Arrow="true"
                                            Placement="Placement.Bottom">
                                    <MudIcon Icon="@Icons.Material.Filled.Search" Size="Size.Small"/>
                                </MudTooltip>
                            </div>
                        }
                    </div>}
            </HeaderTemplate>

            <CellTemplate Context="cell">
                @{
                    var instance = cell.Item;
                    var propertyValue = instance.GetNestedPropertyValue(propertyPath);

                    if (propertyValue is null || propertyValue.ToString() == string.Empty)
                    {
                        var emptyValue = !string.IsNullOrEmpty(property.EmptyValueDisplay)
                            ? property.EmptyValueDisplay
                            : DefaultValueConstants.DefaultEmptyPropertyValueDisplay;
                        @emptyValue
                        return;
                    }

                    if (property is NavigationMetadataDto navigationMetadata)
                    {
                        var navigationValue = GetNavigationValue(propertyValue, navigationMetadata);

                        if (navigationMetadata.CanBeNavigatedToDetails)
                        {
                            <MudButton Variant="Variant.Text" Color="Color.Primary" Class="text-transform-none"
                                       OnClick="() => NavigateToEditing(propertyValue, navigationMetadata)">
                                @navigationValue
                            </MudButton>
                        }
                        else if (navigationMetadata.CanDisplayDetails || navigationMetadata.IsCollection)
                        {
                            <MudButton Variant="Variant.Text" Color="Color.Primary" Class="text-transform-none"
                                       @onclick="() => OpenDialogAsync(propertyValue, navigationMetadata)">
                                @navigationValue
                            </MudButton>
                        }
                        else
                        {
                            @navigationValue
                        }
                        return;
                    }

                    if (property.IsImage)
                    {
                        <div>
                            <MudImage Src="@property.UploadFileStrategy!.GetFileSource(propertyValue.ToString()!)"
                                      Elevation="25"
                                      Class="rounded-lg property-image"/>
                        </div>
                        return;
                    }

                    var formattedValue = FormatValue(propertyValue, property);

                    if (property.DisplayAsHtml)
                    {
                        @((MarkupString)formattedValue)
                        return;
                    }

                    if (property.ClrType == typeof(string))
                    {
                        var maxCharacters = property.TruncationMaxCharacters ?? AdminOptions.TruncationMaxCharacters;

                        if (maxCharacters != default)
                        {
                            formattedValue = formattedValue!.Truncate(maxCharacters);
                        }
                    }

                    @formattedValue
                }
            </CellTemplate>
        </TemplateColumn>
    }
}

@if (CanDelete)
{
    <TemplateColumn T="object">
        <CellTemplate>
            <MudButton Size="@Size.Small" Variant="Variant.Text" Color="Color.Secondary"
                       OnClick="@(() => ShowDeleteEntityConfirmationAsync(context.Item))">
                Delete
            </MudButton>
        </CellTemplate>
    </TemplateColumn>
}
