@using Saritasa.NetForge.Blazor.Domain.UseCases.Metadata.DTOs
@using Saritasa.NetForge.Blazor.MVVM.Navigation
@using Saritasa.NetForge.Blazor.MVVM.ViewModels

@inherits Saritasa.NetForge.Blazor.Pages.MvvmComponentBase<EntitiesViewModel>
@inject INavigationService NavigationService;

@if (ViewModel.HasEntities) {
    @*Add div so the styles in Entities.razor.css can be applied.*@
    <div>
        <MudTable Items="@ViewModel.EntitiesMetadata" Hover="true" Color="Color.Dark" T="EntityMetadataDto"
                  RowClass="cursor-pointer" OnRowClick="NavigateToDetails" GroupBy="@groupDefinition">
            <HeaderContent>
                <MudTh>
                    <MudTableSortLabel InitialDirection="SortDirection.Ascending"
                                       SortBy="new Func<EntityMetadataDto, object>(x => x.PluralName)">
                        <MudText Typo="Typo.h5">Entity Name</MudText>
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudText Typo="Typo.h5">Description</MudText>
                </MudTh>
            </HeaderContent>
            <GroupHeaderTemplate Context="group">
                <MudTh Class="mud-table-cell-custom-group" colspan="2">
                    <MudTooltip Text="@ViewModel.GetGroupDescription(group.Items)" Typo>
                        <MudText Typo="Typo.h6">@group.Key </MudText>
                    </MudTooltip>
                </MudTh>
            </GroupHeaderTemplate>
            <RowTemplate Context="entity">
                <MudTd DataLabel="Entity Name">
                    <MudText Typo="Typo.subtitle1">@entity.PluralName</MudText>
                </MudTd>
                <MudTd DataLabel="Description">
                    <div>
                        <MudText Typo="Typo.body2" Class="grey-text text-darken-1 entities-table__description-text">
                            @entity.Description
                        </MudText>
                    </div>
                </MudTd>
            </RowTemplate>
        </MudTable>
    </div>
}
else {
    <MudText Typo="Typo.body1">No entities configured to be displayed.</MudText>
}

